As of <%= Time.new %>, <b><%= @volunteers.length %></b> individuals have completed the volunteer form. Our campaign has voter data on <b><%= @voters.length %></b> voters in the district. Matches are below. 

<div>
<%= Volunteer.last.match_voters(Voter.all) %>
</div>