<div class="container">

<div style="text-align: center">
  <h1>Karen Candidate</h1>
  <h2>Candidate for Office<br />
  Great State of Michigan<h2>
</div>

<form action="/" method="post">

  <label>First Name:</label>
  <input type="text" id="first_name" name="first_name">

  <label>Middle Initial:</label>
  <input type="text" id="middle_initial" name="middle_initial">

  <label>Last Name:</label>
  <input type="text" id="last_name" name="last_name">

  <label>Date of Birth:</label>
  <input type="date" id="date_of_birth" name="date_of_birth">

  <fieldset>
    
    <legend>Political Interests:</legend>

    <div>
      <%@political_interests.each do |political_interest|%>
        <div>
          <input type="checkbox" name="volunteer[political_interest_ids][]" value="<%=political_interest.id%>" id="<%=political_interest.id%>"><%=political_interest.name%></input>
        </div>
      <%end%>
    </div>



    <%# <div>
      <input type="checkbox" id="social_issues" name="interest" value="social_issues">
      <label for="social_issues">Social Issues</label>
    </div>
    <div>
      <input type="checkbox" id="economy" name="interest" value="economy">
      <label for="economy">The Economy</label>
    </div>
    <div>
      <input type="checkbox" id="health_care" name="interest" value="health_care">
      <label for="health_Care">Health Care</label>
    </div>
    <div>
      <input type="checkbox" id="environment" name="interest" value="environment">
      <label for="environment">The Environment</label>
    </div>
    <div>
      <input type="checkbox" id="other" name="interest" value="other">
      <label for="other">Other<label>
      <%# <input type="text" id="other_value" name="other"> %>
    <%# </div>  %>
  </fieldset>

  <input type="submit">

</form>

<ol>
  <% @volunteers.each do |volunteer| %>
    <li><%=volunteer.first_name%></li>
  <% end %>
</ol>





