<div class="container">

<div style="text-align: center">
  <h1>Karen Candidate</h1>
  <h2>Candidate for Office<br />
  Great State of Michigan<h2>
</div>

<form action="/" method="post">

  <label>First Name:</label>
  <input type="text" id="volunteer_first_name" name="volunteer[first_name]">

  <label>Middle Initial:</label>
  <input type="text" id="volunteer_middle_initial" name="volunteer[middle_initial]">

  <label>Last Name:</label>
  <input type="text" id="volunteer_last_name" name="volunteer[last_name]">

  <label>Date of Birth:</label>
  <input type="date" id="volunteer_date_of_birth" name="volunteer[date_of_birth]">

  <fieldset>
    
    <legend>Political Interests:</legend>

    <div>
      <%@political_interests.each do |political_interest|%>
        <div>
          <input type="checkbox" name="volunteer[political_interest_ids][]" value="<%=political_interest.id%>" id="<%=political_interest.id%>"><%=political_interest.name%></input>
        </div>
      <%end%>
    </div>

    and/or a different interest:<br>
    <input type="text" name="political_interest[name]">

  </fieldset>

  <input type="submit">

</form>

<ol>
  <% @volunteers.each do |volunteer| %>
    <li><%=volunteer.first_name%></li>
  <% end %>
</ol>





